<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RepTheHouse</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

	<header>
		<nav>
			<ul>
				<li><a href="#" class="links">Home</a></li>
				<li><a href="#" class="links">Contact</a></li>
			</ul>
		</nav>	
	</header>

  {{{body}}}

<script src="js/bundle.js"></script>

</body>
</html>

